{% extends 'layout.html'%}

{% block body%}
<head>
    <style>
        body{margin: 0px;}.container-flex{display: flex;height: 100vh}
    </style>
</head>
<div class="container">
    <h2>Beer BPOM Early Prediction</h2>
    <p> </p>
    <p>Beer merupakan salah satu jenis minuman beralkohol yang dibuat melalui proses fermentasi, dan merupakan minuman berakohol tertua, juga paling banyak dikonsumsi di dunia. Di Indonesia, angka konsumsi beer hanya berkisar 0.6 liter/tahun (thejakartapost.com, 2018). Walaupun begitu, Indonesia memproduksi beberapa merk beer (Bintang, Stark Craft Beer, Anker Beer, Bali Hai) dan juga memiliki beer tradisional, yakni Bir Pletok, Bir Kotjok, Bir, Jawa, dan masih banyak lainnya. Salah satu yang menjadi faktor industri beer indonesia tidak berkembang adalah persyaratan BPOM yang mewajibkan sertifikasi produk sebelum beer dijual. Final Project ini akan memprediksi apakah beer yang dibuat akan lolos sertifikasi atau tidak.</p>
    <img src='https://www.iamexpat.nl/sites/default/files/styles/article--full/public/oldimages/61a5bc5c144dbfcb481874823cbbf9071438338557.jpg?itok=7RqnOkOt'>
</div>
{% endblock body%}