{% extends 'layout.html'%}

{% block body%}
    <div class="row">

        <div class="col-md-6">
            <h4>Korelasi Antar Kolom</h4>
            <div class="chart mt-1" id="dist-type5">
            </div>
            <img src='static\images\kor.png'>
            <img src='static\images\pairplot.png'>
        </div>

        <div class="col-md-6">
            <h4>Top 25 Beer Style</h4>
            <div class="chart mt-1" id="dist-type1">
                <img src='static\images\trend.png'>
            </div>

        <div class="col-md-6">
            <h4>Sugar Scale Percentage</h4>
            <div class="chart mt-1" id="dist-type2">
                <img src='static\images\brewsugar.png'>
            </div>
        </div>

        <div class="col-md-6">
            <h4>OG and FG</h4>
            <div class="chart mt-1" id="dist-type3">
            </div>
            <img src='static\images\ogfg.png'>
        </div>

        <div class="col-md-6">
            <h4>IBU and ABV</h4>
            <div class="chart mt-1" id="dist-type4">
            </div>
            <img src='static\images\ibu.png'>
        </div>

        <div class="col-md-6">
            <h4>Color and ABV</h4>
            <div class="chart mt-1" id="dist-type5">
            </div>
            <img src='static\images\color.png'>
        </div>

        <div class="col-md-6">
            <h4>Distribusi ABV</h4>
            <div class="chart mt-1" id="dist-type5">
            </div>
            <img src='static\images\Distribusi ABV.png'>
        </div>
    
{% endblock body%}